@import "tailwindcss";

@theme static {
    --color-primary: #4C001A; /*Buttons, navigation, important links*/
    --color-primary-hover: #650024; /*Hover*/
    --color-primary-active: #350012; /*Pressed, active*/
    --color-primary-soft: #F3E8EE; /*Badges, soft background, selections*/
    --color-background: #FCFAFB; /*General background*/
    --color-surface: #FFFFFF; /*Cards, modals*/
    --color-text: #1F2937; /*Main text*/
    --color-text-muted: #66717E; /*Secondary text*/
    --color-border: #D7DCE2; /*Borders and divisions*/
    --color-success: #1F7A4C; /*For icons and success text*/
    --color-success-soft: #E9F7EF; /*Background for success alerts*/
    --color-warning: #9A6700; /*For icons and warning text*/
    --color-warning-soft: #FFF4CC; /*Background for warning alerts*/
    --color-error: #B42318; /*Error icons/text */
    --color-error-soft: #FDECEA; /*Background error alert*/
    --color-info: #2563EB; /*Information icons/text */
    --color-info-soft: #EFF6FF; /*Background information alert*/
}
